<div class="container marginTop1">
    <div class="jumbotron">
        <p>
            <h2><i class="bi bi-door-closed"></i> Access Denied!</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Back to Home Page</a>
</div>