<br />
<div class="container jumbotron">
    <div class="col-md-12">
        <h2 class="text-center">You are registed! <i class="bi bi-emoji-smile"></i> </h2>
        <br />
        <p class="text-center">
            <b>
                Do your login and start shopping  <i class="bi bi-basket"></i> <br />
                
            </b>
        </p>
    </div>
</div>